/*
    * SlotMachine
    */

.main-panel {
    margin-top: 60px;
    height: 100%;
}

#randomize .row > div.col-xs-4 {
    padding-left: 35px;
}

#randomize .row > div.col-xs-4 > div {
    padding-top: 40px;
    padding-left: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
}

.randomizeMachine {
    /* width: 200px; */
    height: 200px;
}

.btn-group-randomize {
    margin: 0 auto;
    margin-top: 30px;
    width: auto;
}

.btn-group-randomize div {
    width: auto !important;
}

#ranomizeButton {
    width: 100%;
    height: 56px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 24px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}