<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Dance with the Reaper</title>
		<link rel="stylesheet" href="js/jquery.slotmachine.min.css" type="text/css" media="screen" />
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/jquery.slotmachine.min.js"></script>

		<style>
			/*
			 * SlotMachine
			 */
			#randomize {
				height: 600px;
			}

			#randomize .row > div.col-xs-4 {
				padding-left: 35px;
			}

			#randomize .row > div.col-xs-4 > div {
				padding-top: 40px;
				padding-left: 40px;
				background-color: #fff;
				border-radius: 50%;
				margin: auto;
			}

			.randomizeMachine {
				/* width: 200px; */
				height: 200px;
			}

			.btn-group-randomize {
				margin: 0 auto;
				margin-top: 30px;
				width: auto;
			}

			.btn-group-randomize div {
				width: auto !important;
			}

			#ranomizeButton {
				width: 100%;
				height: 200px;
				background-color: #ff0000;
				color: #ffffff;
				font-size: 3em;
			}

		</style>
		<script>
			$(document).ready(function(){
				var machine1 = $("#machine1").slotMachine({
					active	: 0,
					delay	: 500
				});

				function onComplete(active){
					switch(this.element[0].id){
						case 'machine1':
							$("#machine1Result").text("Index: "+this.active);
							break;
						case 'machine2':
							$("#machine2Result").text("Index: "+this.active);
							break;
						case 'machine3':
							$("#machine3Result").text("Index: "+this.active);
							break;
					}
				}

				$("#ranomizeButton").click(function(){

					machine1.shuffle(5, onComplete);

				})
			});
		</script>

	</head>
	<body>

  <% include ../partials/nav.ejs %>

		<div id="randomize">
			<div class="content container" style="text-align: center;max-width: 900px;">
				<h1>What's going to kill me?</h1>

				<p>65 year old male
				</p>

				<div class="row">
					<div class="col-xs-4">
						<div>
							<div id="machine1" class="randomizeMachine">
								<div><img src="img/poison.jpg" /></div>
								<div><img src="img/shark.jpg" /></div>
								<div><img src="img/suicide.png" /></div>
								<div><img src="img/heart.jpg" /></div>
								<div><img src="img/cancer.jpg" /></div>
								<div><img src="img/lightning.png" /></div>
							</div>
						</div>
					</div>
				</div>
				<div id="machine1Result" class="col-xs-4 machineResult"></div>

				<div>
					<div class="btn-group btn-group-justified btn-group-randomize" role="group">
						<div id="ranomizeButton" type="button" class="btn btn-danger btn-lg">SPIN</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
