<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Dance with the Reaper</title>
	</head>
	<body>

  <% include ../partials/nav.ejs %>

    <div class="container-fluid main-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          Whats gonna kill me?
        </div>
        <div class="panel-body randomize">
            <p>65 year old male</p>

            <div class="row">
              <div class="col-sm-4">
                <div>
                  <div id="machine1" class="randomizeMachine">
                    <div><img src="img/poison.jpg" /></div>
                    <div><img src="img/shark.jpg" /></div>
                    <div><img src="img/suicide.png" /></div>
                    <div><img src="img/heart.jpg" /></div>
                    <div><img src="img/cancer.jpg" /></div>
                    <div><img src="img/lightning.png" /></div>
                  </div>
                </div>
              </div>
            </div>
    				<div id="machine1Result" class="col-xs-4 machineResult"></div>
        </div>
      </div>
    </div>
    <footer class="footer" data-spy="affix-bottom">
      <div class="container-fluid">
			    <div id="ranomizeButton" type="button" class="btn btn-danger btn-lg">SPIN</div>
      </div>
    </footer>
	</body>
</html>
